<div class='row' data-hook='admin_range_form_fields'>
  <div class='col-md-12' data-hook='admin_range_form_name'>
    <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', class: 'required')) %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>

  <div class='col-md-4' data-hook='admin_range_form_start_range'>
    <%= f.field_container :start_range, class: ['form-group'] do %>
      <%= f.label :start_range, raw(Spree.t(:start_range) + content_tag(:span, ' *', class: 'required')) %>
      <%= f.text_field :start_range, class: 'form-control' %>
      <%= f.error_message_on :start_range %>
    <% end %>
  </div>

  <div class='col-md-4' data-hook='admin_range_form_end_range'>
    <%= f.field_container :end_range, class: ['form-group'] do %>
      <%= f.label :end_range, raw(Spree.t(:end_range) + content_tag(:span, ' *', class: 'required')) %>
      <%= f.text_field :end_range, class: 'form-control' %>
      <%= f.error_message_on :end_range %>
    <% end %>
  </div>

  <div class='col-md-4' data-hook='admin_range_form_include_range'>
    <%= f.field_container :include_range, class: ['form-group'] do %>
      <%= f.label :include_range, raw(Spree.t(:include_range) + content_tag(:span, ' *', class: 'required')) %>
      <%= f.text_field :include_range, class: 'form-control' %>
      <%= f.error_message_on :include_range %>
    <% end %>
  </div>

</div>
